/* You can add global styles to this file, and also import other style files */
html, body {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  color: #e0e0e0;
  background: #0d1117;
}

.about, .projects, .footer {
  padding: 4rem 2rem;
  text-align: center;
}

.logo img{
  max-width: 40px;
  max-height: 50px;
}

.logo{
  display: flex;
  flex-direction: row;
}

.navbar a {
  color: #58a6ff;
  text-decoration: none;
  margin-left: 1rem;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background: #0a0a0a;
  color: white;
  position: sticky;
  top: 0;
  z-index: 100;
}

/* Menú de escritorio */
nav {
  display: flex;
  gap: 1.5rem;
}

nav a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  transition: color 0.3s;
}

nav a:hover {
  color: #00bcd4;
}

/* Botón hamburguesa */
.menu-btn {
  background: none;
  border: none;
  color: white;
  font-size: 1.8rem;
  cursor: pointer;
  display: none; /* oculto en escritorio */
}

.footer {
  background: #161b22;
  padding: 2rem;
  color: #999;
}

.error small {
  color: #ff4d4d;
  font-size: 0.8rem;
  display: block;
}

input.ng-invalid.ng-touched,
textarea.ng-invalid.ng-touched {
  border: 1px solid #ff4d4d;
}

/* ===== Vista móvil ===== */
@media (max-width: 768px) {
  .menu-btn {
    display: block;
  }

  nav {
    position: absolute;
    top: 70px;
    right: 0;
    background: #111;
    flex-direction: column;
    align-items: flex-start;
    width: 200px;
    padding: 1rem;
    gap: 1rem;
    transform: translateX(100%);
    transition: transform 0.3s ease;
  }

  nav.active {
    transform: translateX(0);
  }
}
