body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  color: #e0e0e0;
  background: #0d1117;
}

.hero {
  text-align: center;
  padding: 6rem 2rem;
  background: linear-gradient(135deg, #0d1117, #1e2a47);
}

.btn {
  background: #58a6ff;
  color: #fff;
  padding: 0.8rem 1.5rem;
  border-radius: 8px;
  text-decoration: none;
}

.project2{
  display: none;
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
  margin-top: 2rem;
}

.card {
  background: #161b22;
  border-radius: 10px;
  padding: 1rem;
  transition: transform 0.3s;
}

.card:hover {
  transform: translateY(-5px);
  cursor: pointer;
}

.card img {
  width: 100%;
  border-radius: 10px;
}

