<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TechNova - Portafolio</title>
  <link rel="stylesheet" href="home.css">
</head>
<body>
  <header class="navbar">
    
    <div class="logo"> 
      <img src="img/LordSiteIcono.png" alt="">
      <p>Lordsite</p>
    </div>
    

    <!-- Botón hamburguesa (solo visible en móvil) -->
    <button class="menu-btn" (click)="toggleMenu()">☰</button>

    <!-- Menú de navegación -->
    <nav [class.active]="menuAbierto">
      <a href="#inicio">Inicio</a>
      <a href="#quienes">Quiénes Somos</a>
      <a href="#proyectos">Proyectos</a>
      <a href="#contacto">Contacto</a>
    </nav>
  </header>

  <div class="carousel">
    <div class="slides">
      <img [src]="images[currentIndex]" alt="slide" class="img-slide">
    </div>

    <button class="prev" (click)="prev()">&#10094;</button>
    <button class="next" (click)="next()">&#10095;</button>

    <div class="dots">
      <span 
        *ngFor="let img of images; index as i"
        [class.active]="i === currentIndex"
        (click)="goToSlide(i)">
      </span>
    </div>
  </div>

  <section id="inicio" class="hero"  [style.background-image]="heroBackground">
    <h1>Impulsamos ideas con tecnología</h1>
    <p>Desarrollamos soluciones digitales modernas y personalizadas.</p>
    <a href="#proyectos" class="btn">Ver proyectos</a>
  </section>

  <section id="quienes" class="about">
    <h2>Quiénes Somos</h2>
    <p>Somos un equipo apasionado por la programación y el diseño web. 
       Creamos sitios y aplicaciones que destacan por su rendimiento y estilo moderno.</p>
  </section>

  <section id="tecnologias">
    <h2>Tecnologias con las que trabajamos</h2>
    <div class="galeriaTecnologia">
      <img class="tecnologiaLogo" src="img/angularLogo.png" alt="">
      <img class="tecnologiaLogo" src="img/javascriptLogo.png" alt="">
      <img class="tecnologiaLogo" src="img/typescriptLogo.png" alt="">
      <img class="tecnologiaLogo" src="img/ReactLogo.png" alt="">
      <img class="tecnologiaLogo" src="img/htmlLogo.png" alt="">
      <img class="tecnologiaLogo" src="img/cssLogo.png" alt="">
    </div>
  </section>

  <section id="proyectos" class="projects" >
    <h2>Proyectos</h2>
    <div class="project-grid" >
      <div *ngFor="let item of proyectos">
        <div class="card" [routerLink]="['Proyecto/' + item.id]">
          <img src="img/{{item.imagenes[0]}}" alt="Proyecto 1">
          <h3>{{item.titulo}}</h3>
          <p>{{item.descripcion}}</p>
          <div class="tecnologiaCartaDiv">
            <div *ngFor="let image of item.tecnologias">
              <img class="tecnologiaCarta" [src]="'img/' + image" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="form-section">
  <form id="form" class="formulario" #f="ngForm">

    <h2 class="titulo-form">Contáctanos</h2>

    <!-- NOMBRE -->
    <label>Nombre</label>
    <input
      type="text"
      name="name"
      required
      minlength="3"
      placeholder="Ingresa tu nombre"
      [(ngModel)]="form.name"
      #name="ngModel"
    >
    <div class="error" *ngIf="name.invalid && name.touched">
      <small *ngIf="name.errors?.['required']">El nombre es obligatorio</small>
      <small *ngIf="name.errors?.['minlength']">Debe tener al menos 3 caracteres</small>
    </div>

    <!-- EMAIL -->
    <label>Email</label>
    <input
      type="email"
      name="email"
      required
      placeholder="tuemail@correo.com"
      [(ngModel)]="form.email"
      #email="ngModel"
    >
    <div class="error" *ngIf="email.invalid && email.touched">
      <small *ngIf="email.errors?.['required']">El email es obligatorio</small>
      <small *ngIf="email.errors?.['email']">Correo no válido</small>
    </div>

    <!-- TELÉFONO -->
    <label>Teléfono</label>
    <input
      type="text"
      name="phone"
      required
      minlength="9"
      placeholder="+56 9 0000 0000"
      [(ngModel)]="form.phone"
      #phone="ngModel"
    >
    <div class="error" *ngIf="phone.invalid && phone.touched">
      <small *ngIf="phone.errors?.['required']">El teléfono es obligatorio</small>
      <small *ngIf="phone.errors?.['minlength']">Debe tener al menos 9 dígitos</small>
    </div>

    <!-- MENSAJE -->
    <label>Mensaje</label>
    <textarea
      name="message"
      required
      minlength="10"
      placeholder="Escribe tu mensaje aquí"
      [(ngModel)]="form.message"
      #message="ngModel"
    ></textarea>

    <div class="error" *ngIf="message.invalid && message.touched">
      <small *ngIf="message.errors?.['required']">El mensaje es obligatorio</small>
      <small *ngIf="message.errors?.['minlength']">Debe tener al menos 10 caracteres</small>
    </div>

    <!-- BOTÓN -->
    <button type="submit" class="btn-form" (click)="send(f)">Enviar</button>

  </form>
</section>



  <footer id="contacto" class="footer">
    <h2>Contacto</h2>
    <p>📧 corpofsite@gmail.com</p>
    <p>🌐 Síguenos en <a href="https://github.com/Lordsite" target="_blank" rel="noopener noreferrer">GitHub</a>| <a href="https://www.instagram.com/lord.site" target="_blank" rel="noopener noreferrer">Instagram</a></p>
  </footer>
</body>
</html>
