body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  color: #e0e0e0;
  background: #0d1117;
}

.hero {
  text-align: center;
  padding: 6rem 2rem;
  background: linear-gradient(135deg, #0d1117, #1e2a47);
}

.btn {
  background: #58a6ff;
  color: #fff;
  padding: 0.8rem 1.5rem;
  border-radius: 8px;
  text-decoration: none;
}

.project2{
  display: none;
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
  margin-top: 2rem;
}

.card {
  background: #161b22;
  border-radius: 10px;
  padding: 1rem;
  transition: transform 0.3s;
}

.card:hover {
  transform: translateY(-5px);
  cursor: pointer;
}

.card img {
  width: 100%;
  border-radius: 10px;
}

#form-section {
  display: flex;
  justify-content: center;
  padding: 60px 20px;
}

.formulario {
  background: rgba(10, 15, 30, 0.8);
  border: 1px solid rgba(0, 255, 255, 0.2);
  padding: 30px;
  width: 100%;
  max-width: 500px;
  border-radius: 14px;
  box-shadow: 0 0 25px rgba(0, 200, 255, 0.15);
  backdrop-filter: blur(6px);
}

.titulo-form {
  text-align: center;
  margin-bottom: 20px;
  color: #00eaff;
  font-size: 1.8rem;
  letter-spacing: 1px;
}

.formulario label {
  color: #b7eaff;
  margin-top: 12px;
  display: block;
  font-size: 0.95rem;
}

.formulario input,
.formulario textarea {
  width: 100%;
  padding: 12px;
  margin-top: 6px;
  border-radius: 8px;
  border: 1px solid rgba(0, 255, 255, 0.3);
  background: #0d1324;
  color: white;
  font-size: 1rem;
  outline: none;
  transition: 0.3s;
}

.formulario input:focus,
.formulario textarea:focus {
  border-color: #00eaff;
  box-shadow: 0 0 10px rgba(0, 255, 255, 0.4);
}

.formulario textarea {
  height: 120px;
  resize: none;
}

.btn-form {
  width: 100%;
  margin-top: 20px;
  padding: 12px;
  border: none;
  border-radius: 8px;
  background: linear-gradient(90deg, #00eaff, #0099cc);
  color: #000;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
  font-size: 1.1rem;
}

.btn-form:hover {
  transform: translateY(-2px);
  box-shadow: 0 0 15px rgba(0, 255, 255, 0.5);
}

.carousel {
  position: relative;
  width: 100%;
  max-height: 5%;
  margin: auto;
  overflow: hidden;
  display: none;
}

.slides img {
  width: 100%;
  border-radius: 10px;
  max-height: 600px;
  transition: opacity 0.5s ease-in-out;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0,0,0,0.3);
  border: none;
  font-size: 30px;
  padding: 10px;
  color: white;
  border-radius: 50%;
}

.prev { left: 10px; }
.next { right: 10px; }

.dots {
  text-align: center;
  margin-top: 10px;
}

.dots span {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin: 3px;
  background: gray;
  border-radius: 50%;
  cursor: pointer;
}

.dots span.active {
  background: white;
}
